// Header
header#header.alt
  h1
    a(href='index.html') Cookd
    |  by Buzzwords
  nav#nav
    ul
      li
        a(href='/') Home
      li
        a(href='/') Terms
      if !user
        li(class=(title == 'Login') ? 'active' : undefined)
          a.button(href='/login') Login
        li(class=(title == 'Create Account') ? 'active' : undefined)
          a.button(href='/signup') Create Account
      else
        li
          a.icon.fa-angle-down(href='#') Layouts
          ul
            li
              a(href='generic.html') Generic
            li
              a(href='contact.html') Contact
            li
              a(href='elements.html') Elements
            li
              a(href='#') Submenu
              ul
                li
                  a(href='#') Option One
                li
                  a(href='#') Option Two
                li
                  a(href='#') Option Three
                li
                  a(href='#') Option Four
        li
          a(href='/account') My Account
        li.divider
        li
          a(href='/logout') Logout
