// Included css for just this page
link(rel='stylesheet', href='/css/partials/application.css')

// Include the jade below

section.container
  section.box.special
    header.major
      h2
        | Checking out sweet dollar dollar bills yo
        br
        | 							for doing stuff with your phone
      p
        | Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare
        br
        | 							adipiscing nunc adipiscing. Condimentum turpis massa.
    span.image.featured
      img(src='images/pic01.jpg', alt='')
